* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #3c3b37;
  }
  
  html {
    font-size: 16px;
  }
@import './helpers/variable';
@import './layout/header';
@import './layout/carousel';
@import './layout/courses';
@import './layout/banner';
@import './layout/categories';
@import './layout/topics';
@import './layout/information';
@import './layout/video';
@import './layout/footer';